@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

:root {
  --font:  'Edu TAS Beginner', cursive;
  --primary: #393a3921;
  --primary-text: #ffffff;
  --secondary: #c06ef7;
  --secondary-text: #000000;
  --accent: #67338a91;
  --accent-text: #ffffff;
}
